<body>
<div class="container">

	<div class="login-screen">

			<div class="justifier">
				<p class="centro" >
					COMUNICA VISA
				</p>
				<form #f="ngForm" (ngSubmit)="login(f)">
					<div class="form-group">
						<input type="text" name="username" class="form-control"  placeholder="LOGIN PHAROS"  
							(keyup)="onkeyup($event)"  [(ngModel)]="user.login" required  autofocus>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="SENHA PHAROS" [(ngModel)]="user.password" required
						 (keyup)="onkeyup($event)">
					</div>
					<div class="submit-row">
						<input type="submit" class="btn btn-success btn-lg btn-block" value="Acessar">
					</div>
					<br/>
					<hr style="height:1px; border:none; background-color:darkgray; margin-top: 0px; margin-bottom: 0px;" />
					<br/>
					  <div *ngIf="!validacao" class="alert alert-danger" role="alert">
                        Não tem cadastro no PHAROS
                </div>
				</form>
			</div>

</div>
</div>
</body>