.container{
margin-top:70px; 

}


.login-screen{
	margin: 25px 400px;
	color: black !important; 
      
}

.justifier{
    background-color:antiquewhite;
     border-radius: 8px 8px 8px 8px;
    padding: 10px 10px 10px 10px;
}



.ng-invalid.ng-touched:not(form) {
	border: 1px solid red;

}
.centro{
    margin: 25px 80px;
}








