<div class="container" id="customers">


  <div class="ordem-compra">
    <form novalidate>


      <div class="row">

        <div class=" col-md-1">


          <img src="/assets/images/logos/brasao.png">
        </div>

        <div class=" col-md-7">
          <br />
          <h6>ESTADO DE SANTA CATARINA</h6>
        </div>

        <div class=" col-md-4">
          <br />
          <div class="d-flex justify-content-end">
            <h6>SOLICITAÇÃO DE DIÁRIAS</h6>
          </div>
        </div>
      </div>

      <hr />
    </form>
    <h6>SERVIDOR</h6>
    <form #deslocamentoForm="ngForm" (ngSubmit)="adicionarDeslocamento(deslocamentoForm)" class="diney">
      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="vpf">CPF</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="cpf" name="cpf" placeholder="CPF">
          </div>
          <div class="form-group col-sm-6">
            <label for="nome">NOME</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="nome" name="nome" id="nome" placeholder="NOME">
          </div>
          <div class="form-group col-sm-3">
            <label for="matricula">MATRÍCULA</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="matricula" name="matricula" placeholder="MATRÍCULA">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="local">LOCAL DE TRABALHO (LOTAÇÃO)</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="local" name="local" placeholder="LOCAL DO EXERCÍCIO">
          </div>
          <div class="form-group col-sm-6">
            <label for="municipio">MUNÍCIPIO DO LOCAL DE TRABALHO</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="municipio" name="municipio" placeholder="MUNÍCIPIO">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="cargo">CARGO/EMPREGO</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="cargo" name="cargo" placeholder="CARGO/EMPREGO">
          </div>
          <div class="form-group col-sm-4">
            <label for="competencia">COMPETÊNCIA</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="competencia" name="competencia" placeholder="COMPETÊNCIA">
          </div>
          <div class="form-group col-sm-4">
            <label for="email">E-MAIL</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="email" name="email" placeholder="E-MAIL">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-12 control-label">CÓDIGO DO CARGO/FUNÇÃO OCUPADA</label>
            <div class="col-sm-12">
              <label class="radio-inline">
                 <input type="radio" name="radio" #1 (change)="handleChange(1)"  value="1" > DGS-1
              </label>
              <label class="radio-inline">
                 <input type="radio" name="radio"  #2 (change)="handleChange(2)"  value="2"  > DGS-2
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #3 (change)="handleChange(3)" value="3"  > DGS-3
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #4 (change)="handleChange(4)" value="4" > FTG-1
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #5 (change)="handleChange(5)" value="5"> FTG-2
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #6 (change)="handleChange(6)"value="6" > FTG-3                
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #7 (change)="handleChange(7)" value="7" > FG-1               
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #8 (change)="handleChange(8)" value="8" > FG-2              
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #9 (change)="handleChange(9)" value="9"> FG-3             
             </label>

            </div>
            <div class="col-sm-12">
              <label class="radio-inline">
                <input type="radio" name="radio" #10 (change)="handleChange(10)" value="10"> DGI-1(CODIFICADO)                
             </label>
              <label class="radio-inline">
                <input type="radio" name="radio" #11 (change)="handleChange(11)" value="11" > ADM SUPERIOR-3 (AGENTE POLÍTICO)               
             </label>
              <label class="radio-inline">
               <input type="radio" name="radio" #12 (change)="handleChange(12)" value="12" > ADM SUPERIOR-8 ( NÃO CONFIRMADO)                
             </label>

            </div>
            <div class="col-sm-12">

              <label class="radio-inline">
                <input type="radio" name="radio" id="qual" #13 (change)="qualChange(13)" value="13" > OUTRO QUAL?
             </label>
              <div class="form-group col-sm-10">


                <div *ngIf=teste>
                  <input type="text" class="form-control is-invalid" [(ngModel)]="qual" name="qual">
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="form-group col-sm-4">
            <label for="banco">BANCO</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="banco" name="banco" placeholder="BANCO">
          </div>
          <div class="form-group col-sm-4">
            <label for="agencia">AGÊNCIA (com digito)</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="agencia" name="agencia" placeholder="AGÊNCIA (com digito)">
          </div>
          <div class="form-group col-sm-4">
            <label for="conta">CONTA CORRENTE (com dígito)</label>
            <input type="text" class="form-control is-invalid" [(ngModel)]="conta" name="conta" placeholder="CONTA CORRENTE (com dígito)">
          </div>

        </div>

      </div>
    </form>
    <form>
      <h6>DESLOCAMENTOS</h6>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <p>PARTIDA</p>
        <div class="row">

          <div class="form-group col-sm-3">
            <label for="startDate">Data</label>
            <input class="form-control" [(ngModel)]="humanDate" type="date" name="startDate" required/>
          </div>
          <div class="form-group col-sm-2">
            <label for="estadoPartida">UF</label>
            <select class="form-control custom-select" [(ngModel)]="estadoPartida" required name="estadoPartida" (change)="habilitaForm()">          
              <option  *ngFor ="let estado of estado"  > {{ estado.sigla}} </option>          
            </select>
          </div>
          <div class="form-group col-sm-5">
            <label for="cidadePartida">MUNÍCIPIO</label>
            <select class="form-control custom-select" required name="cidadePartida" [(ngModel)]="cidadePartida" (change)="habilitaForm()"> 
                <option  value="" >Selecione</option>              
                <option *ngFor ="let c of cidadesPartida">{{c.nome}}</option>             
              </select>

          </div>
          <div class="form-group col-sm-2">
            <label for="horaPartida">HORÁRIO</label>
            <input class="form-control custom-select" id="timePartida" type="time" [(ngModel)]="horaPartida" required name="horaPartida"
              (change)="habilitaForm()">
          </div>

        </div>
        <hr />
        <p>DESTINO</p>
        <div class="row">

          <div class="form-group col-sm-2">
            <label for="estadoDestino">UF</label>
            <select class="form-control custom-select" [(ngModel)]="estadoDestino" required name="estadoDestino" (change)="habilitaForm()">
              
              <option *ngFor ="let estado of estado"  >{{estado.sigla}}</option>
          
          </select>
          </div>
          <div class="form-group col-sm-4">
            <label for="cidadePartida">MUNÍCIPIO</label>
            <select class="form-control custom-select" required name="cidadeDestino" [(ngModel)]="cidadeDestino" (change)="habilitaForm()"> 
                <option  value="" >Selecione</option>              
                <option *ngFor ="let c of cidadesDestino">{{c.nome}}</option>             
              </select>
          </div>
          <div class="form-group col-sm-2">
            <label for="horaDestino">HORÁRIO</label>
            <input id="timeDestino" class="form-control custom-select" type="time" name="time" [(ngModel)]="horaDestino" required name="horaDestino"
              (change)="habilitaForm()">

          </div>
          <div class="form-group col-sm-4">
            <label for="meioTransp">MEIO DE TRANSPORTE</label>
            <select class="form-control custom-select" [(ngModel)]="transporte" required name="meioTransp" (change)="habilitaForm()">         
              <option *ngFor ="let c of meioTrans" >{{c.nome}}</option>            
            </select>
          </div>

        </div>

        <div class="row">

          <div class="form-group col d-flex justify-content-start">
            <button type="submit" class="btn btn-primary btn-md" [disabled]="formDeslocamento" (click)=" adicionarDeslocamento(deslocamentoForm)">ADICIONAR DESLOCAMENTO</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12  col-xl-12 ">
        <table class="table table-striped table-hover" id="table">
          <thead>
            <tr>
              <th>Data</th>
              <th>Estado Partida</th>
              <th>Cidade Partida</th>
              <th>Horário </th>
              <th>Estado Destino</th>
              <th>Cidade Destino</th>
              <th>Horário</th>
              <th>Meio de Transporte</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of deslocamentoTabela">
              <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.estadoPartida}}</td>
              <td>{{item.cidadePartida}}</td>
              <td>{{item.horaPartida}}</td>
              <td>{{item.estadoDestino}}</td>
              <td>{{item.cidadeDestino}}</td>
              <td>{{item.horaDestino}}</td>
              <td>{{item.meioTransp}}</td>
              <td><button class="btn btn-danger" (click)="onDelete(c)">Deletar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h6>(*)No caso de uso de passagens é obrigatória a devolução dos respectivos bilhetes.</h6>
    </div>
    <h6>OBJETIVO DA VIAGEM</h6>
    <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
      <div class="form-group col-md-8">
        <textarea rows="3" type="text" class="form-control" name="objetivoDaViagem" #inputObjV (input)="atualizaObjViagem(inputObjV.value)"></textarea>
      </div>
    </div>
  </div>

  <hr />


  <button type="submit" class="btn btn-primary btn-md" (click)="geraPdf()" id="cmd">PDF</button>





</div>